// color
$color_txt_white: #ffffff;
$color_txt_black: #333333;
$color_txt_red: #ff0000;
$color_txt_black2: #666666;
$color_txt_black3: #999999;
$color_txt_blue: #015196;
$color_txt_red2: #f0433a;
$color_txt_yellow2: #f2a30f;
$color_txt_green2: #008c72;
$color_txt_orange2: #c8631e;


$color_bg_orange2: #c8631e;
$color_bg_hover_orange: #d3824b;
$color_bg_white: #ffffff;
$color_bg_white2: #f6f6f6;
$color_bg_facebook: #3b5997;
$color_bg_google: #db5149;
$color_bg_skype: #00aced;
$color_bg_youtube: #d12f2f;
$color_bg_search: #2587bf;
$color_bg_black3: #f6f6f6;

// font face
@import "font-face.scss";

// import mobile css
@import "mobile";

// import mobile css
@import "tablet";

// SCSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    background: $color_bg_orange2;
    height: 42px;
    width: 100%;
    line-height: 40px;
    ul{
        float: right;
        li{
            padding: 0 15px;
            transition: 0.3s;
            &:hover{
                background: $color_bg_hover_orange;
            }
            a{
                color: $color_txt_white;
                font-family: 'Roboto';
                font-size: 15px;
                text-decoration: none;
                i.fa{
                    font-size: 12px !important;
                }
            }
            &.active{
                background: $color_bg_hover_orange;
            }
        }
        li.menu-sub{
            position: relative;
            ul.sub-menu{
                position: absolute;
                background: $color_bg_orange2;
                display:block;
                padding: 0;
                left: 0;
                opacity: 0;
                z-index:100;
                visibility: hidden;
                transition: 0.3s;
                min-width: 170px;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
                li{
                    list-style: none;
                    border-bottom: 1px solid #fff;
                    &:last-child{
                        border-bottom: none;
                    }
                    a{
                        color: $color_txt_white;
                        font-family: Roboto;
                        font-size: 15px;
                        text-decoration: none;
                    }
                }
            }
            &:hover .sub-menu{
                opacity: 1;
                visibility: visible !important;
            }
        }
    }
}

.header{
    width: 100%;
    height: 85px;
    background: $color_bg_white;
    line-height: 85px;
    overflow: hidden;
    ul{
        height: 100%;
        display: flex;
        li.vn{
            list-style: none;
            span{
                font-size: 18px;
                border-right: 1px solid rgba(0,0,0,0.2);
                padding: 15px 15px 15px 5px;
                color: $color_txt_black;
            }
        }
        li.hotline{
            list-style:none;
            position: relative;
            P{
                position: absolute;
                top: -8px;
                left: 75px;
                font-size: 18px;
                font-family: Roboto;
                color: $color_txt_black;
            }
            .phone{
                color: $color_txt_red;
                font-size: 20px;
                font-family: Roboto;
                position: absolute;
                top: 12px;
                left: 75px;
            }
            .call{
                position:absolute;
                align-items: center;
                width: 50px;
                top: 20px;
                left: 15px;
                height: 50px;
                border: 1px solid $color_txt_red;
                background: $color_bg_white;
                border-radius: 50%;
                &:before{
                    content: '';
                    background: $color_txt_red;
                    border-radius: 50%;
                    top: 5px;
                    bottom: 5px;
                    left: 5px;
                    right: 5px;
                    position: absolute;
                }
                i.fa{
                    font-size: 18px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-weight: 600;
                    transform: translate(-50%, -50%);
                    color: $color_txt_white;
                }
            }
        }
    }
}
.slide{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 815px;
    overflow: hidden;
    box-sizing: border-box;
    .slide_item{
        position: absolute;
        width: 100%;
        height: 100%;
        ul{
            li{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                list-style: none;
                transition: 0.5s;
                opacity: 0;
                img{
                    width: 100%;
                    height: 100%;
                }
                .box_text{
                    position: absolute;
                    top: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: $color_txt_white;
                    width: 950px;
                    h5{
                        position:relative;
                        font-size: 40px;
                        font-family: 'SVN';
                        padding: 0;
                        margin: 0;
                        display: inline-block;
                    }
                    h3{
                        padding: 0;
                        position:relative;
                        font-size: 65px;
                        font-family: 'SVN';
                        padding: 5px 0;
                        margin: 0;
                        display: inline-block;
                    }
                    p{
                        font-size: 30px;
                        font-family: 'SVN';
                        padding: 0 130px;
                        display: inline-block;
                        margin-bottom: 30px;
                        visibility: hidden;
                    }
                    a{
                        color: $color_txt_white;
                        font-size: 20px;
                        font-family: 'Roboto';
                        visibility: hidden;
                        padding: 10px 25px;
                        border: 1px solid #fff;
                        border-radius: 4px;
                        display: inline-block;
                        &:hover{
                            background: $color_bg_orange2 !important;
                        }
                    }
                }
            }
            li.active{
                opacity: 1;
                z-index: 2;
                .box_text{
                    h5{
                        transform-origin: left;
                        transform: scaleX(0);
                        animation: revealTextReserve 1s ease-in-out forwards;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 4px;
                            left: 0;
                            background: $color_bg_orange2;
                            width: 100%;
                            height: 100%;
                            transform-origin: right;
                            animation: revealText 1s ease-in-out forwards;
                            animation-delay: 1s;
                        }
                    }
                    h3{
                        transform-origin: left;
                        transform: scaleX(0);
                        animation: revealTextReserve 1s ease-in-out forwards;
                        animation-delay: 2s;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 4px;
                            left: 0;
                            background: $color_bg_orange2;
                            width: 100%;
                            height: 100%;
                            transform-origin: right;
                            animation: revealText 1s ease-in-out forwards;
                            animation-delay: 3s;
                        }
                    }
                    p{
                        margin-top: 30px;
                        opacity: 0;
                        visibility: hidden;
                        animation: animateText 0.5s linear forwards;
                        animation-delay: 4s;
                    }
                    a{
                        margin-top: 30px;
                        opacity: 0;
                        visibility: hidden;
                        animation: animateText 0.5s linear forwards;
                        animation-delay: 4.4s;
                        text-decoration: none;
                        transition: 0.3s;
                        &:hover{
                            background: $color_bg_orange2 !important;
                        }
                    }
                }
            }
        }
     }
    .slide_btn{
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                list-style: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: transparent;
                border: 1px solid #fff;
                cursor: pointer;
                margin: 0 5px;
            }
            li.active{
                background: #fff;
            }
        }
    }
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 90px;
        background: url(../images/bg_saw_up.png);
        background-size: cover;
        z-index: 5;
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 300px;
        background: rgba(0,0,0,0.3);
        background-size: cover;
        z-index: 3;
    }
}
@keyframes revealText{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}
@keyframes revealTextReserve{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
@keyframes animateText{
    0%{
        margin-top: 30px;
        opacity: 0;
        visibility: hidden;
    }
    100%{
        margin-top: 0;
        opacity: 1;
        visibility: visible;
    }
}
.box_search{
    position: absolute;
    bottom: 180px;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    z-index: 4;
    color: $color_txt_white;
    ul.text{
        display: flex;
        li{
            list-style: none;
            font-family: 'Roboto';
            font-size: 20px;
            margin: 0 250px 0 20px;
        }
    }
    .box{
        width: 930px;
        input{
            height: 45px;
            border: none;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            width: 390px;
            font-family: "Roboto";
            font-size: 18px;
            line-height: 45px;
            padding-left: 20px;
            padding-right: 10px;
            margin: 0;
            outline: none;
            &.price{
                border-bottom-left-radius: 0px;
                border-top-left-radius: 0px;
                position: relative;
                left: -5px;
                border-left: 1px solid rgba(0,0,0,0.2);
            }
        }
        a{
            background: $color_bg_search;
            text-decoration: none;
            color: $color_txt_white;
            font-family: "Roboto";
            font-size: 18px;
            padding: 12.4px 20px;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            margin: 0;
            position: relative;
            left: -10px;
            &:hover{
                background: $color_txt_blue;
                transition: 0.3s;
            }
        }
    }
}
.tour_option{
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -75px;
    z-index: 5;
    &:before{
        content: '';
        position:absolute;
        width: 100%;
        height: 1px;
        top: 83px;
        background: rgba(0,0,0,0.1);
    }
    .nav-tabs{
        .nav-link{
            border: none;
            font-family: "SVN";
            font-size: 18px;
            padding: 25px 5px;
            img{
                margin-right: 15px !important;
            }
        }
    }
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
     border-bottom: 4px solid $color_bg_orange2 !important;
     background-color: transparent;
}
#nav-home-tab{
    color: $color_txt_blue;
}
#nav-profile-tab{
    color: $color_txt_red2;
}
#nav-contact-tab{
    color: $color_txt_yellow2;
}
#nav-about-tab{
    color: $color_txt_green2;
}

.tab-content{
    padding: 0 !important;
}
.slide_small{
    .box_slide_small{
        background-color: transparent;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-size: 16px;
            position: absolute;
            bottom: -10px;
            color: $color_txt_black;
        }
    }
}
.slick-prev, .slick-next{
    z-index: 1 !important;
}
.slick-prev:before{
    color: #d2d2d2;
    font-size: 25px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.slick-next:before{
    color: #d2d2d2;
    font-size: 25px;
    right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.tour-times{
    width: 100%;
    background-color: $color_bg_black3;
    position: relative;
    top: -35px;
    padding: 60px 0;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: perspective(1200px);
    &:before{
        content: '';
        position: absolute;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 5px;
        left:0;
        background: url(../images/bg_saw_up.png);
        background-size: cover;
        transform: rotate(180deg);
    }
   .tour-head{
       margin-bottom: 35px;
        h3{
            font-size: 30px;
            font-family: 'SVN';
            color: $color_txt_orange2;
        }
        span{
            font-size: 16px;
            font-family: 'Roboto';
            color: $color_txt_black;
        }
   }
    ul.tour-content{
        display: flex;
        width: 100%;
        height: 265px;
        margin-bottom: 30px;
         &:hover{
            img{
                transform:scale(1.3);
                transition: 3s;
            }
        }
        li{
            list-style: none;
            &.tour-img{
                width: 50%;
                height: 100%;
                overflow:hidden;
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;
                img{
                    width: 100%;
                    height: 100%;
                    transition: 3s;
                }
                &:last-child{
                    border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;
                    border-bottom-right-radius: 6px;
                    border-top-right-radius: 6px;
                }
            }
            &.tour-detail{
                width: 50%;
                height: 100%;
                overflow:hidden;
                border-bottom-right-radius: 6px;
                border-top-right-radius: 6px;
                background: $color_bg_white;
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
                padding: 30px 20px;
                transition: 0.5s;
                h5{
                    font-family: 'Roboto';
                    font-size: 20px;
                    font-weight: bold;
                    padding: 0;
                    cursor:pointer;
                    margin-bottom: 20px;
                    color: $color_txt_orange2;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    display:flex;
                    li{
                        margin-right: 40px;
                        margin-bottom: 20px;
                        p{
                            left: 0;
                            margin: 0;
                            padding: 0;
                            font-size: 16px;
                            color: $color_txt_black;
                            font-family: 'Roboto';
                        }
                    }
                }
                span.price{
                    color: $color_txt_red;
                }
                span.del{
                    color: $color_txt_black2;
                }
                a{
                    text-decoration: none;
                    color: $color_txt_white;
                    font-size: 16px;
                    padding: 5px 15px;
                    background-color: $color_bg_search;
                    border-radius: 6px;
                    &:hover{
                        background-color: $color_txt_blue;
                        transition: 0.3s;
                    }
                }
            }
            &.two{
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;
                border-bottom-right-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
    }
}
.btn_view_all{
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    color: $color_txt_white;
    padding: 10px 20px;
    background: $color_bg_orange2;
    border-radius: 4px;
    &:hover{
         text-decoration: none;
         color: $color_txt_white;
         background: $color_bg_hover_orange;
    }
}
.tour-fast{
    width: 100%;
    height: 525px;
    background: url(../pic/img_tour_fast.jpg);
    background-size: cover;
    background-position: center;
    overflow:hidden;
    position: relative;
    top: -35px;
    padding: 100px 0;
    h5{
        font-size: 40px;
        font-weight: bold;
        color: $color_txt_orange2;
        font-family: "SVN";
        text-shadow: 0 0 5px #e3d28b, 0 0 5px #e3d28b, 0 0 5px #e3d28b, 0 0 5px #e3d28b, 0 0 5px #e3d28b, 0 0 5px #e3d28b, 0 0 5px #e3d28b;
    }
    span.price{
        font-size: 30px;
        font-family: 'SVN';
        color: #000;
        b{
            font-size: 60px;
            color: $color_txt_red;
        }
    }
    .text-left, .text-right{
        padding-top: 20px;
    }
    span.txt-left{
        font-size: 30px;
        color: #000;
        font-family: 'SVN';
        text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
    }
    span.txt-right{
        font-size: 30px;
        font-family: "SVN";
        color: $color_txt_orange2;
        text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
        b{
            font-size: 40px;
            line-height: 1;
        }
    }
}
.tour-in, .tour-out{
    padding: 10px 0;
    overflow: hidden;
    h3.title{
        font-size: 30px;
        font-family: "SVN-Helvetica Neue";
        font-weight: bold;
        color: $color_txt_orange2;
    }
    .info{
        width: 100%;
        padding: 0 200px;
        span{
            font-size: 16px;
            font-family: "Roboto";
        }
    }
    .box{
        width:100%;
        height: 380px;
        padding: 15px 0;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &:hover{
            img{
                transition: 3s;
                transform: scale(1.3);
            }
        }
        .box-img{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        img{
            width: 100%;
            height: 100%;
            transition: 1s;
        }
        .text{
            left: 0;
            bottom: 4px;
            right: 0;
            text-align: left !important;
            padding: 20px;
            font-family: "Roboto";
            position: absolute;
            color: $color_txt_white;
            h5{
                font-size: 20px;
                font-weight: bold;
                border-bottom: 1px dashed #fff;
                padding: 10px 0;
            }
            p{
                font-size: 16px;
                margin: 0;
            }
            span{
                font-size: 18px;
                font-weight: bold;
                del{
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }
    }
}
.tour-out{
    background: $color_bg_black3;
    padding: 80px 0 50px 0;
    position: relative;
    overflow: hidden;
    &:before{
        content: '';
        height: 40px;
        width: 100%;
        top: 0;
        left: 0;
        background: url(../images/bg_saw_up.png);
        background-size: cover;
        transform: rotate(180deg);
        position: absolute;
    }
}
.tour-option{
    width: 100%;
    padding: 60px 0 90px 0;
    background: url(../pic/tour_option_bg.jpg);
    background-size: cover;
    position:relative;
    overflow: hidden;
    font-family: "Roboto";
    background-position:center;
    &:before{
        content: '';
        position: absolute;
        width:100%;
        left:0;
        bottom: 0;
        background: url(../images/bg_saw_up.png);
        background-size: cover;
        height: 10px;
    }
    h3{
        color: $color_txt_white;
        font-size: 30px;
        font-weight: bold;
        font-family: "SVN-Helvetica Neue";
    }
    p{
        color: $color_txt_white;
        font-size: 16px;
    }
    .box{
        width: 100%;
        margin-top: 20px;
        height: 410px;
        border-radius: 6px;
        background: #fff;
        overflow: hidden;
        font-family: "Roboto";
        li{
            border-bottom: 1px dashed rgba(0,0,0,0.5);
            padding: 5px 0;
        }
        &:hover{
            img{
                transition: 3s;
                transform: scale(1.3);
            }
        }
        .box-img{
            width: 100%;
            height: 245px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                transition: 3s;
            }
        }
        .box-text{
            width: 100%;
            height: 165px;
            padding: 10px;
            h5{
                font-size: 18px;
                font-weight: bold;
                color: $color_bg_orange2;
                cursor: pointer;
            }
            p{
                color: $color_txt_black;
                font-size: 18px;
                margin: 0;
                padding: 0;
                b{
                    color: $color_txt_red;
                }
            }
            span{
                color: $color_txt_black;
                font-size: 16px;
            }
        }
    }
}
.place-love{
    width: 100%;
    padding: 40px 0;
    overflow: hidden;
    background: #fff;
    h3{
        font-size: 30px;
        font-family: "SVN-Helvetica Neue";
        font-weight: bold;
        color: $color_txt_orange2;
    }
    .box{
        height: 250px;
        width: 100%;
        position: relative;
        cursor: pointer;
        font-family: "Roboto";
        &:hover{
            img{
                transition: 3s;
                transform: scale(1.3);
            }
        }
        .box-img{
            height: 100%;
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                transition: 3s;
            }
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                z-index: 1;
                height: 80px;
                background: linear-gradient(to top, #000, transparent)
            }
        }
        .box-text{
            position: absolute;
            left: 50%;
            color: #fff;
            transform: translateX(-50%);
            bottom: 10px;
            z-index:1;
            h5{
                font-size: 20px;
                font-weight: bold;
            }
            p{
                font-size: 16px;
                margin: 0;
                border-top: 1px dashed #fff;
            }
        }
    }
    .box-small{
        height: 180px;
        width: 100%;
        position: relative;
        cursor: pointer;
        font-family: "Roboto";
        &:hover{
            img{
                transition: 3s;
                transform: scale(1.3);
            }
        }
        .box-img{
            height: 100%;
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                transition: 3s;
            }
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                z-index: 1;
                height: 80px;
                background: linear-gradient(to top, #000, transparent)
            }
        }
        .box-text-small{
            position: absolute;
            color: #fff;
            bottom: 0;
            z-index:1;
            padding: 5px 10px; ;
            h5{
                font-size: 18px;
                font-weight: bold;
                margin: 0;
            }
            p{
                font-size: 16px;
                margin: 0;
                i.fa{
                    color: $color_txt_red;
                    font-size: 16px;
                    margin-left: 5px;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}
.border-fix{
    width: 100%;
    border-top: 1px dashed rgba(0,0,0,0.5);
}
.tour-why{
    width: 100%;
    background: $color_bg_black3;
    position: relative;
    overflow: hidden;
    padding: 60px 0 30px 0;
    font-family: "Roboto";
    &:before{
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 10px;
        background: url(../images/bg_saw_up.png);
        background-size: cover;
        transform: rotate(180deg);
    }
    h3{
        font-size: 30px;
        font-family: "SVN-Helvetica Neue";
        font-weight: bold;
        color: $color_txt_orange2;
        margin-bottom: 40px;
    }
    .text-title{
        width: 100%;
        height: 45px;
        ul{
            display: flex;
            border-bottom: 1px dashed $color_bg_orange2;
            li{
                list-style: none;
                span{
                    font-size: 30px;
                    color: #fff;
                    background: $color_bg_orange2;
                    padding: 5px 15px;
                    font-weight: bold;
                }
                h5{
                    font-size: 20px;
                    font-weight: bold;
                    padding: 10px 10px;
                    color: $color_txt_orange2;
                    margin: 0;
                }
            }
        }
    }
    .text-main{
        width: 100%;
        padding-top: 15px;
        p{
            color: $color_txt_black;
            font-size: 16px;
        }
    }
}

.opinion{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 395px;
    overflow:hidden;
    box-sizing: border-box;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: animateIMG 20s linear infinite;
    }
    .slide_item_two{
        position: absolute;
        width: 100%;
        overflow:hidden;
        height: 100%;
        .box-text{
            position: absolute;
            top: 40px;
            z-index: 6;
            font-family: "Roboto";
            left: 50%;
            transform: translateX(-50%);
            width: 920px;
            h3{
                font-size: 30px;
                color: #fff;
                font-weight: bold;
                opacity: 0;
                visibility: hidden;
            }
            p{
                font-size: 18px;
                color: #fff;
                margin: 40px 0;
                opacity: 0;
                visibility: hidden;
            }
            span{
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                opacity: 0;
                visibility: hidden;
            }
        }
        ul{
            li{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                list-style: none;
                transition: 0.5s;
                opacity: 0;
            }
            li.active{
                opacity: 1;
                z-index: 2;
                background-color: transparent;
                h3{
                    animation: aniText 1s ease-in-out forwards;
                }
                span{
                    animation: aniText 1s ease-in-out forwards;
                    animation-delay: 2s;
                }
                p{
                    animation: aniText 1s ease-in-out forwards;
                    animation-delay: 1s;
                }
            }
        }
     }
    .slide_btn_two{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                list-style: none;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: transparent;
                border: 1px solid #fff;
                cursor: pointer;
                margin: 0 2px;
            }
            li.active{
                background: #fff;
            }
        }
    }
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        background: url(../images/bg_saw_up.png);
        background-size: cover;
        z-index: 5;
    }
}
@keyframes animateIMG{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
}
@keyframes aniText{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}
.multimedia{
    padding: 50px 0;
    overflow: hidden;
    background: #fff;
    .box-head{
        width: 100%;
        position: relative;
        display: flex;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        font-family: "Roboto";
        margin-bottom: 20px;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 60px;
            height: 4px;
            background: $color_bg_orange2;
        }
        h3{
            font-size: 30px;
            font-weight: bold;
            color: $color_txt_orange2;
            font-family: "SVN-Helvetica Neue";
            flex: 1;
        }
        a{
            color: $color_txt_black;
            font-size: 15px;
            text-decoration: none;
            margin-top: 15px;
            text-align: right;
            flex: 1;
            &:hover{
                color: $color_txt_orange2;
                i.fa{
                    color: $color_bg_orange2;
                }
            }
            i.fa{
                color: $color_txt_black;
                margin-left: 5px;
            }
        }
    }
    .box-photo{
        width: 100%;
        height: 205px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            height: 80px;
            z-index: 1;
            width: 100%;
            background: linear-gradient(to top, #000, transparent);
        }
        &:hover{
            img{
                transition: 3s;
                transform: scale(1.2);
            }
        }
        .icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 45px;
            width: 45px;
            background: $color_bg_orange2;
            border-radius: 50%;
            &:before{
                content: "";
                position:absolute;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                background-color: transparent;
                border: 1.3px solid #fff;
                border-radius: 50%;
            }
            i.fa{
                font-size: 15px;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        img{
            width: 100%;
            height: 100%;
            transition: 3s;
        }
        span{
            position: absolute;
            bottom: 3px;
            left: 10px;
            color: #fff;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: bold;
            z-index: 2;
        }
    }
    .box-photo-small{
        width: 100%;
        height: 100px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        &:hover{
            p{
                color: $color_txt_orange2;
            }
        }
        .box-img{
            width: 100%;
            height: 65px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
        }
        p{
            font-family: "Roboto";
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            margin-top: 6px;
        }
        .icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 30px;
            width: 30px;
            background: $color_bg_orange2;
            border-radius: 50%;
            &:before{
                content: "";
                position:absolute;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                background-color: transparent;
                border: 1.3px solid #fff;
                border-radius: 50%;
            }
            i.fa{
                font-size: 13px;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    .owl-carousel{
        .box{
            height: 390px;
            width: 100%;
            .box-img{
                width: 100%;
                height: 235px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .box-text{
                width: 100%;
                padding: 10px 0;
                text-align: justify;
                font-family: "Myriad Pro";
                h5{
                    font-weight: normal;
                    font-size: 20px;
                    cursor: pointer;
                    color: $color_txt_black;
                    &:hover{
                        color: $color_txt_orange2;
                    }
                }
                p{
                    font-size: 13px;
                    color: $color_txt_black3;
                }
                span{
                    font-size: 15px;
                    color: $color_txt_black2;
                }
            }
        }
    }
    .img-box{
        width: 100%;
        height: 105px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .text-box{
        font-family: "Roboto";
        p{
            font-size: 15px;
            color: $color_txt_black;
            font-weight: bold;
            margin: 0;
            text-align: justify;
            cursor: pointer;
            &:hover{
                color: $color_txt_orange2;
            }
        }
        span{
            color: $color_txt_black3;
            font-size: 13px;
        }
    }
}
.owl-nav{
    display: none !important;
}
.owl-dots{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
}
.owl-dots span{
    width: 10px;
    height: 10px;
    background: #c2c2c2;
    display: block;
    border-radius: 50%;
    margin: 3px 3px;
}
.owl-dot.active span{
    background: $color_txt_orange2 !important;
}

.fix-col-5{
    padding-right: 0 !important;
}
.border-col{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
}
.border-col-top{
    border-top: 1px solid rgba(0,0,0,0.3);
    width: 100%;
}


.footer-one{
    padding: 60px 0;
    background: $color_bg_black3;
    position: relative;
    overflow: hidden;
    font-family: "Roboto";
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        top: 0;
        background: url(../images/bg_saw_up.png);
        transform: rotate(180deg);
        background-size: cover;
    }
    h3{
        font-size: 20px;
        color: $color_txt_orange2;
        font-weight: bold;
        font-family: "SVN-Helvetica Neue";
        margin-bottom: 20px;
    }
    .contact{
        margin-bottom: 30px;
        span{
            font-size: 16px;
        }
    }
    .pay{
        margin-bottom: 30px;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                list-style: none;
                margin: 10px 5px;
            }
        }
    }
    .social{
        ul{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
            li{
                list-style: none;
                margin: 0 8px;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 0 5px rgba(0,0,0,0.4);
                }
                i.fa{
                    color: #fff;
                    font-size: 18px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position: relative;
                &.fb{
                    background: $color_bg_facebook;
                }
                &.go{
                    background: $color_bg_google;
                }
                &.tw{
                    background: $color_bg_skype;
                }
                &.yo{
                    background: $color_bg_youtube;
                }
            }
        }
    }
    .letter, .search{
        margin-bottom: 30px;
        input{
            font-size: 15px;
            padding: 3px 10px;
            outline: none;
        }
        a{
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            padding: 5.5px 15px;
            background: $color_bg_orange2;
            position: relative;
            left: -5px;
        }
    }
    .in, .out{
        ul{
            li{
                list-style: none;
                a{
                    color: $color_txt_black;
                    font-size: 16px;
                    font-family: "SVN-Helvetica Neue";
                }
            }
        }
    }
}
.footer-two{
    padding: 30px 0px 10px 0px;
    overflow: hidden;
    p{
        font-size: 15px;
        color: $color_txt_black;
        font-family: "Roboto";
        padding: 0 80px;
    }
}
.bt-menu{
    position: absolute;
    width: 45px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    right: 20px;
    top: 30px;
    cursor: pointer;
    z-index: 10;
    display: none;
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 2px;
        width: 25px;
        background: rgba(0,0,0,0.8);
        box-shadow: 0 -6px 0 rgba(0,0,0,0.8), 0 6px 0 rgba(0,0,0,0.8);
    }
}
.menu-mobile{
    display: none;
}